*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background-color: rgb(87, 87, 202);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.box{

height: 450px;
width: 300px;
background-color: white;
border-radius: 10px;
padding: 0px;
}



h2{
text-align: center;
color: rgb(0, 0, 0);
margin-top: 70px;
}


label{
font-size: 20px;
font-weight: 600;
margin-bottom: 5px;
margin-top: 20px;
margin-left: 55px;
}


input{
width: 200px;
height: 35px;
margin-bottom: 10px;
padding: 5px;
margin-left: 55px;
}

button{
width: 200px;
background-color: rgb(112, 112, 206);
color: white;
font-size: 20px;
font-weight: 400px;
margin-top: 10px;
margin-left: 55px; 
}


.hjh{
    margin-left: 90px;
    margin-top: 25px;
   
}
.gg{
    margin-left: 50px;
    margin-top: 10px;
}

a{
    text-decoration: none;
}



