*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
background-color: black;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}



.box{
background-color: aliceblue;
height: 400px;
width: 300px;
border-radius: 6px;
padding: 50px;
}



h1{
    text-align: center;
    padding: 20px;
    color: rgb(89, 89, 198);
}



label{
font-size: 25px;
font-weight: 600px;
margin-bottom: 5px;
}

input{

 border-radius: 2px;
 margin-bottom: 10px;
 height: 30px;
padding: 10px;
width: 100%;


}

button{

height: 30px;
width: 100%;
padding: 3px;
font-size: 15px;
margin-top: 10px;
background-color: rgb(89, 89, 198);
color: white;

    
}





